@import url('https://fonts.googleapis.com/css2?family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ojuju:wght@200..800&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ojuju:wght@200..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&display=swap');

:root {
    --font-family-title: Newsreader, Raleway, Helvetica Neue, Helvetica, Arial, sans-serif;
    --font-family-base: 'Inter', Open Sans, Helvetica Neue, Helvetica, Arial, sans-serif;

    --font-size-large: clamp(20px, 2vw + 1rem, 70px);
    --font-size-medium: clamp(14px, 2vw + .2rem, 17px);
    --font-size-small: clamp(12px, 2vw + .2rem, 22px);


    --font-weight-regular: 400;
    --font-weight-bold: 700;


    --primary-green: #426B1F;
    --primary-black: #000000;
    --primary-white: #FFFFFF;  

    --border-color: #E6E6E6;
}

/* Contains the header component and a button leading to
    the Basket
  ===================================== */

    .header-container {
        max-width: 80vw;
        margin-inline: 9vw;
        display: flex;
        justify-content: space-between;
    }

    .user-auth-container {
        margin-top: 10px;
        display: grid;
        justify-content: space-evenly;
        align-items: center;
        width: 110px;
    }

    .user-auth-container hr {
        margin-top: 10px;
        margin-bottom: 10px;
        width: 100%;
    }

    .user-auth-container button {
        width: clamp(60px, 20vw, 150px);
        height: clamp(15px, 10vw, 50px);
        font-size: var(--font-size-small);
        border: 1px solid var(--border-color);
        border-radius: 5%;
        background-color: var(--primary-white);
        color: var(--primary-black);
    };

    .user-auth-container .login-btn {
        background-color: var(--primary-black);
        color: var(--primary-white);
    }

    .basket-btn {
        margin-top: 10px;
        background-color: transparent;
        border: none;
        padding: var(--button-padding);

    }

    .basket-btn p {
        font-family: var(--font-family-base);
        font-weight: var(--font-weight-bold);
        text-align: center;
        font-size: clamp(15px, 2vw + 0.2rem, 35px);
        margin: 0;
        margin-top: 10px;
    }

    .basket-btn img {
        margin: 0;
        max-width: 30%;
    }
  /*=================================================== */

/** User's profile
  ================================== */
  
    .profile-container {
        margin-inline: 9vw; 
        display: flex;
        width: clamp(195px, 55%, 500px);
        height: 90px;
        /* border: 1px solid red; */
    }

    .proflie-container .user-info {
        border: 1px solid black;
    }

    .user-header {
        font-family: var(--font-family-title);
        font-weight: 550;
        font-size: clamp(14px, 4vw, 25px);
        margin-inline: 10px;
    }


/* Make sure all images are only as wide as their containers
   on maximum */
img {
    max-width: 100%;
}

/* The header unique to the Produce page
    ======================================= */

    .secondary-header {
        margin-top: 50px;
        margin-inline: 9vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .secondary-header h2 {
        font-size: var(--font-size-large);
        font-family: var(--font-family-title);
        font-weight: var(--font-weight-regular);
    }

    hr {
        margin-top: 0;
        margin-bottom: 20px;
        color: #f5efef;
        width: 75%;
    }
  /* ================================================= */

/* Container for all the produce components */
.produces {
    margin-inline: 3vw;
    margin-bottom: 60px;
    max-width: 100%;
    display: grid;
    justify-content: center;
    gap: 5vw;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
}