:root {
    --primary-black: #000000;
}

.profile {
    display: flex;
    flex-direction: column;
    width: clamp(60px, 15vw, 90px);
    height: clamp(60px, 15vw, 90px);
}

.profile img {
    width: 100%;
    height: 100%;
    border: 1px solid var(--primary-black);
    border-radius: 50%;
    padding: 1px;
}